@use '_variables' as *;
@use '_mixins' as *;
@use '_reset'; 
@use '_setup';

.add{
      padding-block: 180px;
      &__content{
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            column-gap: 13%;
      }
      &__content-img{
            width: 47%;
            height: auto;
      }
      &__content-info{
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            row-gap: 38px;            
      }
      &__info-title{
            @include title;
            letter-spacing: 3.2px;
            font-size: 54px;
            color: $colorTitle;
      }
      &__info-descr{
            @include info;

      }
      &__descr-bold{
            font-weight: 700;
            font-size: 27px;
            line-height: 141%;
            letter-spacing: 1.08px;
            color: $colorTitle;
            text-align: left;
            vertical-align: top;
      }
}

@media screen and (max-width: 1300px) {
      .add{
            padding-block: 80px;

            &__info-title{
                  font-size: 38px;
            }
            &__info-descr, &__descr-bold{
                  font-size: 20px;
            }
            &__content-info{
                  row-gap: 25px;
            }

      }
}
@include adaptive(laptop){
      .add{
            padding-block: 60px;
            &__content{
                  column-gap: 60px;
            }
            &__info-title{
                  font-size: 32px;
            }
            &__info-descr, &__descr-bold{
                  font-size: 18px;
            }
            &__content-info{
                  row-gap: 24px;
            }  
      }
}
@include adaptive(tablet){
      .add{
            padding-block: 70px;
            &__content{
                  column-gap: 60px;
            }
            
            &__info-title{
                  font-size: 22px;
            }
            &__info-descr, &__descr-bold{
                  font-size: 15px;
            }             
      }
}
@include adaptive(phone){
      .add{
            padding-block: 50px;
            &__content{flex-direction: column; justify-content: center; align-items: center; row-gap: 50px;}
            &__content-img{order: 2; width: 70%;}
            &__content-info{order: 1; width: 100%; row-gap: 24px; align-items: center;} 
            
            
            &__info-title{
                  font-size: 22px;
                  text-align: center;
                  width: 70%;
            }
            &__info-descr, &__descr-bold{
                  font-size: 14px;
                  text-align: center;
                  width: 80%;
            }             
      }
}