@use '_variables' as *;
@use '_mixins' as *;
@use '_reset'; 
@use '_setup';

.share{
      padding-block: 180px;

      &__content{
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: flex-end;
            column-gap: 8%;
      }
      &__content-img{
            width: 47%;
            height: auto;
      }
      &__content-info{
            width: 43%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            row-gap: 38px;            
      }
      &__info-title{
            @include title;            
            color: $colorTitle;
            padding-right: 50px;
      }
      &__info-descr{
            @include info;           

      }
      &__descr-bold{
            font-weight: 700;            
            line-height: 141%;
            letter-spacing: 1.08px;
            color: $colorTitle;
            text-align: left;
            vertical-align: top;
      }
}

@media screen and (max-width: 1300px){
      .share{
            padding-block: 80px;

            &__info-title{
                  font-size: 40px
            }
            &__info-descr{
                  font-size: 22px;
            }
            &__descr-bold{
                  font-size: 22px;
            }
      }
}

@include adaptive(laptop){
      .share{
            padding-block: 70px;
            
            &__content{
                  column-gap: 60px;
            }
            &__content-info{
                  width: 55%;
                  flex-basis: 55%;
            }
            &__content-img{
                  width: 45%;
                  flex-basis: 45%;
            }

            &__info-title{
                  font-size: 32px
            }
            &__info-descr{
                  font-size: 18px;
            }
            &__descr-bold{
                  font-size: 18px;
            }
      }
}
@include adaptive(tablet){
      .share{
            padding-block: 60px;            
           
            &__info-title{
                  font-size: 24px;
                  padding-right: 0;
            }
            &__info-descr{
                  font-size: 16px;
            }
            &__descr-bold{
                  font-size: 16px;
            }
            &__content-info{row-gap: 24px;}
      }
}
@include adaptive(phone){
      .share{
            padding-block: 40px;  
            
            &__content{flex-direction: column; justify-content: center; align-items: center; row-gap: 30px;}
            &__content-img{order: 2; width: 100%;}
            &__content-info{order: 1; width: 100%; row-gap: 14px; align-items: center;}          
            
           
            &__info-title{
                  font-size: 22px;
                  text-align: center; 
                  width: 80%;                 
            }
            &__info-descr{
                  font-size: 14px;
                  text-align: center;
                  width: 90%;
            }
            &__descr-bold{
                  font-size: 14px;
            }
            
      }
}

