
$colorheader: #000000;
$colormain: rgb(255, 255, 255);
$colortext70: rgba(255, 255, 255, 0.7);
$colortext50: rgba(255, 255, 255, 0.5);
$bgccolorHeader: #E5E5E5;
$bgcBtn: #FF4343;
$colorTitle: #FFFFFF;




$screens: (
    laptop: 1024px,
    tablet: 768px,
    phone: 576px
)